
body{
	margin:0;
	padding:0;
    box-sizing: border-box;
     background-image: url(images/bg-simplify-section-desktop.svg);
    background-size: contain;
    font-size: 1.1em;
	
}
.bg-color{
    background-color: #f3613c;
    color: #ffffff;
}

.first-3-sections{
    /* padding: 20px 50px; */
    margin: 30px 80px;
    
}

.menu{
    margin:0 auto;
    
}
.navbar-burger>span{
    height: 3px;  
}
.section-one{
    height: 70%;
    line-height: 1.5;
}

.section-one{
    margin-top: 40px;
}
.intro{
    padding-top: 80px;
}

.intro>.get_started{
    margin-top: 30px;
}
.button{
    border: none;
}
.get_started{
    box-shadow: 0 0 5px#f3613c;
    font-weight: bold;
}
.get_started:hover{
    background-color: #f3613ccc;
    color: #ffffff;
}
.content-left{
    max-width: 400px;
}
.content-right{
    max-width: 450px;
}
.number{
    padding: 10px;
}
.number:hover{
    color: #ffffff;
}
.content-container{
    padding: 20px;
    min-width: 350px;
  
}
@media only screen and (max-width: 600px){
    .first-3-sections{
        margin: 30px 30px;
        
    }
    .section-one{
        margin-top: 0px;
    }
    .intro{
        padding-top: 30px;
    }
    
}

.classes{

  margin-top: 2rem;
  

}

.card-check{
color: hsl(228, 39%, 23%);
margin-bottom: 3rem;
padding-bottom: 2rem;

}


.text-check{
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 3rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*background-color: wheat;*/

}

.title{
    text-align: center;
}



img {
    margin: 30px auto;
 
    
}

.image{
    border-radius: 100%;
    margin-bottom: 0.5rem;
    margin-top: 20px;
    
}



.card-class{

padding: 2rem;
margin-top: 4em;
background-color: hsl(12, 88%, 59%);
}



#rounded-button{
    color: hsl(12, 88%, 59%);
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left:1rem;
   
   
}

#danger-red{
    margin-top: 2rem;
    background-color: hsl(12, 88%, 59%);
    margin-bottom: 2rem;
    
}

.check
{
margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    padding-bottom: 1rem;
}

.cancel-in{
    margin-bottom: 1rem;
   
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .25rem;
}

.workflow{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  
}
.container{
    padding-top: .8rem;
    padding-left: 0rem;
}

.go{
    margin-top: 2.3rem;
    margin-left: 2rem;
    padding: 1rem;
    
}

.updates{

    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 2rem;
    padding: 1.2rem;

}

.social{

    margin-top: 2rem;
}

.card-card{

    transform: translateY(-40%);
}



.copyright{
    margin-top: 3rem;
  margin-right: 5rem;
    color: white;
}

.my-card {
    background-color: whitesmoke;
}


.section-class{

margin-top: .7rem;
margin-left: .1rem;
margin-right: .0rem;
padding-right: .0rem;
}

.inter{

padding-bottom: 2rem;
margin-bottom: 1rem;
}

.adjust{
    margin-left: 1.5rem;
}